<div class="container">
  <div class="row justify-content-center text-center">
   <div class="col-4">
    <h1>ASKED</h1>
  </div>
 </div>
   <div class="col-4 bg-info text-center text-white">
    <h4>질문을 수정해 주세요</h4>
   </div>
    <form action="/posts" method="post">
      <input type="hidden" name="_method" value="form"> <!--이건 약속임!-->
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      작성자 :<input type="text" name="username" value="<%= @post.username%>"/><br />
      제목 :<input type="text" name="title" value="<%= @post.title%>"/><br />
      내용 :<textarea type="text" name="content"><%= @post.content%></textarea>
      <input type="submit" value="궁금해요!" />
</div>
</form>
